<body id="body-index">
	<main>
		<section class="banco-contenidos">
			<p>Repositorio de obras cinematográficas y audiovisuales, cuyas licencias de uso pertenecen al IFCI, de manera no exclusiva y sin fines comerciales, para que sean exhibidas pública y gratuitamente en espacios miembros de REA o a través de gestores culturales certificados.
			El repositorio cuenta con un número importante de obras entre cortometrajes y largometrajes que abarcan diversas temáticas y géneros. </p>
			<div class="banco-contenidos__galeria">
				<iframe class="airtable-embed" src="https://airtable.com/embed/shruRBbZkDYggbInk?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel=""></iframe>
			</div>
			<div class="contenedor--buttons">
				<a class="banco-contenidos--button" href="#catalogos">Curadurías</a>
				<a class="banco-contenidos--button" href="#recursos">Solicitud de obras</a>
			</div>
		</section>
	</main>
	<section class="curadurias" id="catalogos">
		<div class="contenedor__curadurias" >
			<div class="curadurias__img"><img src="/assets/img/catalogo_img_3.png" alt="catalogo1"></div>
			<h3>Wawas al Cine</h3>
			<p>La infancia es una interminable fuente de historias fantásticas, inspiradoras y llenas de aprendizajes.<br>
			Estás películas son un homenaje a la creatividad, bondad , inocencia y valentía que habita en cada niño/a.</p>
			<a href="https://www.canva.com/design/DAFGTxt06e8/rX0dIy35n8-hDfG3OyXwrw/view" class="contenedor__curadurias--button">catálogo</a>
		</div>
		<div class="contenedor__curadurias" >
			<div class="curadurias__img"><img src="/assets/img/catalogo_img_2.png" alt="catalogo2"></div>
			<h3>Retratos del Ecuador</h3>
			<p>¿Qué nos hace ecuatorianos? ¿Cómo definimos ser ecuatorianos? Preguntas que difícilmente encontrarán una respuesta, pero que siempre pueden despertar reflexiones.<br>
			Esta selección de películas tratan temas diversos, pero que convergen en la representación o el retrato de aquello que nos "hace" ecuatorianos.</p>
			<a href="https://www.canva.com/design/DAFHiNAvj30/_Pj6AqOMFXyeIrItRvyNMQ/view" class="contenedor__curadurias--button">catálogo</a>
		</div>
		<div class="contenedor__curadurias" >
			<div class="curadurias__img"><img src="/assets/img/catalogo_img_1.png" alt="catalogo3"></div>
			<h3>Cine con Orgullo</h3>
			<p>Madres que defienden el nombre de su familia; un niñx que desafía al mundo que se le impone; testimonios desde la supervivencia; relatos de magia y descubrimiento; <br>
			Estas son algunas de las obras del Banco de Contenidos del IFCI que representan disidencias sexogenéricas..</p>
			<a href="https://www.canva.com/design/DAFELBpZaC0/2mC5uWE-9kkrHbYpTFfy5w/view" class="contenedor__curadurias--button">catálogo</a>
		</div>
	</section>
	<section id="recursos">
		<h2>Recursos</h2>
		<div class="contenedor__recursos">
			<div class="recursos__button">
				<div class="button--contenido">
					<h3>Solicitud de película</h3>
				</div>
				<div class="button--contenido">
					<h3>Solicitud de paquete de películas</h3>
				</div>
				<div class="button--contenido">
					<h3>Retroalimentación</h3>
				</div>
				<div class="button--contenido">
					<h3>Recursos Gráficos</h3>
				</div>
			</div>
			<div class="contenedor--contenido">
				<div class="recursos__contenido recursos__contenido--activo">
					<h3>Formulario soliditud de película </h3>
					<p>Si eres un espacio o usuario certificado y quieres solicitar una obra mediante formulario online, haz clic en el siguiente botón:</p>
					<a href="https://airtable.com/shrQYP50Ez4BWD2Rw" target="_blank">Formulario</a>
				</div>
				<div class="recursos__contenido">
					<h3>Solicitud de varias películas</h3>
					<p>Si eres un espacio o gestor certificado y deseas programar varias películas, haz clic en el siguiente botón para descargar el formato de solicitud, llénalo y envíalo al correo indicado:</p>
					<a href="https://cineyaudiovisualec-my.sharepoint.com/:w:/g/personal/peliculas_ifci_creatividad_gob_ec/ETQV33U7qWFHn172Zcz_kbYB9t4VeD1eY9Z-t4GfjzyMCg?rtime=R41bz5JG20g" target="_blank">Formulario</a>
				</div>
				<div class="recursos__contenido">
					<h3>Formulario Retroalimentación</h3>
					<p>Si realizaste una proyección y debes ingresar la información de asistencia, haz clic en el siguiente botón:</p>
					<a href="https://airtable.com/shrPNZmdIqDVxOjMC" target="_blank">Retroalimentación</a>
				</div>
				<div class="recursos__contenido">
					<h3>Recursos Gráficos</h3>
					<p>Para piezas comunicacionales en las que se promocionen eventos realizados con el apoyo del IFCI, se debe incluir el logo del Instituto y de la REA.</p>
					<a href="https://cineyaudiovisualec-my.sharepoint.com/personal/esperanza_maldonado_creatividad_gob_ec/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fesperanza%5Fmaldonado%5Fcreatividad%5Fgob%5Fec%2FDocuments%2FDirección%20Cine%20y%20Audiovisual%2FDIFUSION%2FLogos%20REA&ga=1">Imagen REA</a>
				</div>
			</div>
		</div>
	</section>
</body>