<main id="main-registro">
    <h2 class="formulario__titulo titulo__registro">PARTE 1 - Informacion del usuario</h2>
    <div class="row contenedor__btn--superior">
        <a href="" class="col-md-6 btn--superior">
            <h2>Persona jurídica</h2>
            <p>Registro de personas jurídica<br>
            Si eres una organización, institución, empresa que cuenta con un RUC y con almenos un espacio de exhibición o quiere realizar exhibiciones de cine itinerantes</p>
        </a>
        <a href="" class="col-md-6 btn--superior">
            <h2>Personasnas naturales</h2>
            <p>Registro Usuario<br> 
            Si eres gestor cultural y tienes acceso a un espacio de exhibición o quieres realizar muestras de cine itinerante.</p>
        </a>
        <a href="" id="atras-btn" class="col-1 btn--atras--none">Atrás
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
            </svg>
        </a>
    </div>
     <h2 class="formulario__titulo titulo__registro">PARTE 2 - Información de espacio o usuario</h2>
   <div class="row contenedor__btn--superior">
        <a href="" class="col-md-6 btn--superior">
            <h2>Registro Espacio</h2>
            <p>Registro Espacio<br>
            Este registro es para espacios que realicen exhibiciones cinematográficas que quieran ser parte de la REA y acceder a sus beneficios.</p>
        </a>
        <a href="" class="col-md-6 btn--superior">
            <h2>Registro Usuario</h2>
            <p>Registro Usuario<br> 
            Este registro es para gestores culturales que trabajen en proyectos de exhibición de obras cinematográficas y quieran acceder a varios beneficios.</p>
        </a>
        <a href="" id="atras-btn" class="col-1 btn--atras--none">Atrás
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
                </svg>
        </a>
    </div>
 </main>