<form action="/register/natural" method="Post">

    <fieldset>
        <legend>Datos personales</legend>

        <label for="cedula">Cédula</label>
        <input type="number" name="cedula" id="cedula">

        <label for="nombre-nat">Nombre</label>
        <input type="text" name="nombre-nat" id="nombre-nat">

        <label for="apellido-nat">Apellido</label>
        <input type="text" name="apellido-nat" id="apellido-nat">
    </fieldset>

    <button class="btn form__btn--siguiente">Siguiente</button>

    <fieldset>
        <legend>Datos Personales</legend>

        <label for="cel-natural">Celular</label>
        <input type="number" name="cel-natural" id="cel-natural">

        <label for="telf-natural">Teléfono</label>
        <input type="number" name="telf-natural" id="telf-natural">

        <label for="dir-natural">Dirección</label>
        <input type="text" name="dir-natural" id="dir-natural">

        <label for="img-dir-natural">Documento que respalde la dirección ingresada</label>
        <input type="file" name="img-dir-natural" id="img-dir-natural">
    </fieldset>

    <button class="btn form__btn--siguiente">Siguiente</button>

    <fieldset>
        <legend>Perfil</legend>

        <label for="perfil-profesional">Perfil profesional</label>
        <textarea name="perfil-profesional" id="perfi-profesional" cols="30" rows="10">Breve descripción de su trayectoria como gestor cultural y la clase de proyectos que realiza</textarea>
    </fieldset>

    <button class="btn form__btn--enviar">Siguiente</button>

</form>