<main class="contenedor__formulario">
    <p class="texto__formulario texto--autenticar">
        Por favor, ingrese a su correo electrónico para realizar la validación del mismo. Una vez realizado este proceso, podrá ingresar con su dirección y contraseña y continuar con el proceso de registro de espacios o usuarios REA.
    </p>
    <a class="btn" href="/login">Volver a login</a>
</main>