<main>
    <div class="contenedor__formulario">
        <form class="login__formulario" action="" method="post">
            <fieldset>
                <legend class="formulario__titulo">Recuperación de contraseña</legend>

                <label for="mail-usuario" class="texto__formulario">Ingrese el mail con el que se encuentra registrado.
                    <input type="email" name="mail" id="mail-usuario" placeholder="correo electrónico">
                </label>

                <label for="identidad" class="texto__formulario">Ingrese su cédula o RUC con el que se encuentra registrado.
                    <input type="text" name="identificación" id="identidad" placeholder="Cédula o RUC">
                </label>

                <input class="btn" type="submit" value="Recuperar contraseña">

                <p class="texto__formulario">Se enviará al mail registrado su contraseña.</p>
            </fieldset>
        </form>
    </div>
</main>