<body id="body-index">
	<main>
		<section id="section-cartelera" class="cartelera">
			<h2>Cartelera</h2>
			<div class="cartelera__peliculas">
				<iframe class="airtable-embed" src="https://airtable.com/embed/shrrKg4Lm4gqxRq1Z?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
			</div>
		</section>
		<section id="section-espacios" class="espacios">
			<h2>Espacios</h2>
			<div class="espacios__catalogo">
				<iframe class="airtable-embed" src="https://airtable.com/embed/shr5uIXST3Sx3cH9D?backgroundColor=red&viewControls=on"></iframe>
			</div>
		</section>
	</main>
	<section id="mapa" class="section__mapa">
		<h2>Ubicación de espacios</h2>
		<div class="mapa__contenedor">
			<iframe src="https://www.google.com/maps/d/embed?mid=1PNu8ORO4ULbLgf0VrGy7bU62WsOpKqI&hl=es&ehbc=2E312F" width="640" height="480"></iframe>
		</div>
	</section>
</body>