<footer id="footer">
		<div class="footer__contenedores">
			<img src="/assets/Logos REA/Rea-2022.png" alt="REA" id="logo-footer" class="footer__contenedores--img" loading="lazy">
			<p class="footer__contenedores--parrafo">La Red de Espacios Audiovisuales es un programa ejecutado por el Instituto de Fomento a la Creatividad y la Innovación y conformado por espacios culturales públicos y privados y gestores culturales.</p>
		</div>
		<div class="footer__contenedores" id="section-footer">
			<h4>SECCIONES</h4>
			<ul class="contenedores__sections">
				<li class="sections__listas"><a href="/">Inicio</a></li>
				<li class="sections__listas"><a href="/#la-red">La REA</a></li>
				<li class="sections__listas"><a href="/#galeria-beneficios">
					Beneficios</a></li>
				<li class="sections__listas"><a href="/bancodecontenidos">Banco de Contenidos</a></li>
				<li class="sections__listas"><a href="/espacios#section-espacios">Espacios</a></li>
				<li class="sections__listas"><a href="/espacios#section-cartelera">Cartelera</a></li>
				<li class="sections__listas"><a href="#registro">Registro</a></li>
			</ul>
		</div>
		<div class="footer__contenedores">
			<h4>CONTACTO</h4>
			<p class="contenedores__contactos">Av. Amazonas N24-196 y Luis Cordero <br>
				edificio Contempo piso 9.</p>
			<p class="contenedores__contactos">+593 2 393 1250 <br> 
				Ext. 1504, 1505, 1506</p>
			<p class="contenedores__contactos">christian.burnham@creatividad.gob.ec<br>
				christian.chicaiza@creatividad.gob.ec</p>
			<a href="#" class="button--contacto">Envía un mensaje</a>
		</div>
		<form class="contacto--formulario" action="https://formsubmit.co/christian.chicaiza@creatividad.gob.ec" method="POST">
			<button type="button" id="cerrar-formulario">cerrar</button>

			<fieldset class="formulario__campos">
				<legend>Formulario de Contactos</legend>

				<label for="nombre">Nombre</label>
				<input type="text" name="Nombre" id="nombre" placeholder="Nombre">

				<label for="apellido">Apellido</label>
				<input type="text" name="Apellido" id="apellido" placeholder="Apellido">

				<label for="celular">Celular</label>
				<input type="number" name="Celular" id="celular" placeholder="0999999999" maxlength="10" minlength="10" min="0">

				<label for="email">e-mail</label>
				<input type="email" name="mail" id="email" placeholder="name@mail.com">

				<label for="area-mensaje">Mensaje</label>
				<textarea name="mensaje" id="area-mensaje" cols="30" rows="10">Escriba su mensaje</textarea>

				<!-- opciones API submit mail https://formsubmit.co -->
				<input type="submit" value="Enviar" id="enviar-formulario">
				<input type="hidden" name="_next" value="www.rea-ec.com">
				<input type="hidden" name="_subject" value="Consulta desde la web de rea">
				<input type="hidden" name="_captcha" value="false">

			</fieldset>
		</form>
	</footer>