<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="AttisDev 92">
	<meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap, React, MySQL">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Red de Espacios Audiovisuales del Ecuador, una red de espacios alternativos dedicados a la difusión y exhibición de obras cinematográficas y a la formación de públicos">
	<title>REA | Red de Espacios Audiovisuales</title>
	{{!-- bootstrap --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous" async></script>
	<link rel="shortcut icon" href="/assets/Logos REA/isologo-blanco.png" type="image/x-icon">
	{{!-- styles css --}}
	<link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    {{!-- fonts --}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	{{!-- javascript --}}
	<script type="text/javascript" async src="/js/slider_index.js" ></script>
	<script type="text/javascript" async src="/js/galreia_index.js" ></script>
	<script type="text/javascript" async src="/js/formulario_contacto.js" ></script>
	<script type="text/javascript" async src="/js/acordeon_index.js" ></script>
    {{!-- icons --}}
    <script src="https://kit.fontawesome.com/cbef697fa7.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="encabezado"> 
		{{!-- barra menu --}}
		<div class="encabezado__barra">
			<a href="/" title="link-rea" class="barra__logos">
				<img src="/assets/Logos REA/Rea-blanco.png" alt="REA" id="logo-rea-png">
			</a>
			<a href="http://www.creatividad.gob.ec" title="link-ifci" class="barra__logos ifci" target="_blank">
				<img src="/assets/Logo IFCI/Logos-MCyP-IFCI_GDE.png" alt="IFCI" id="logo-ifci-png">
			</a>
		</div>
		<div class="contenedor__menu">
			<a href="" title="icono-menu" class="button--menu" id="icono-button-menu">
				<span class="material-symbols-outlined">
				menu
				</span>
			</a>
			{{!-- menu web --}}
			<nav class="menu" id="menu-index">
				<ul class="menu__contenedor">
					<li class="menu__buttons"><a href="/#la-red" title="inicio-button" id="button-inicio">
						<h3>LA RED</h3>
						<p>Conoce el espíritu de la red.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/#galeria-beneficios" title="beneficio-button" id="button-beneficios">
						<h3>BENEFICIOS</h3>
						<p>Todos los beneficios que tenemos para nuestros miembros.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/bancodecontenidos" title="contenidos-button" id="button-banco-de-contenidos">
						<h3>BANCO DE CONTENIDOS</h3>
						<p>Las pelícuas a las que podemos acceder.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/espacios" title="espacios-button" id="button-espacios-miembros">
						<h3>ESPACIOS</h3>
						<p>Estos son quienes hacen la REA.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/espacios#section-cartelera" title="cartelera-button" id="button-cartelera">
						<h3>CARTELERA</h3>
						<p>Lo que está pasando en la red.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/#registro" title="registro-button" id="button-registro">
						<h3>REGISTRO</h3>
						<p>Se parte de la red y accede a todos los beneficios.</p>
					</a></li>
					<li class="menu__buttons"><a href="#footer" title="contacto-button" id="button-contacto">
						<h3>CONTACTO</h3>
						<p>Cuentanos tus dudas.</p>
					</a></li>
				</ul>			
			</nav>
		</div>
	</header>
	
    {{{ body }}}

	<footer id="footer">
		<div class="footer__contenedores">
			<img src="/assets/Logos REA/Rea-2022.png" alt="REA" id="logo-footer" class="footer__contenedores--img" loading="lazy">
			<p class="footer__contenedores--parrafo">La Red de Espacios Audiovisuales es un programa ejecutado por el Instituto de Fomento a la Creatividad y la Innovación y conformado por espacios culturales públicos y privados y gestores culturales.</p>
		</div>
		<div class="footer__contenedores" id="section-footer">
			<h4>SECCIONES</h4>
			<ul class="contenedores__sections">
				<li class="sections__listas"><a href="/">Inicio</a></li>
				<li class="sections__listas"><a href="/#la-red">La REA</a></li>
				<li class="sections__listas"><a href="/#galeria-beneficios">
					Beneficios</a></li>
				<li class="sections__listas"><a href="/bancodecontenidos">Banco de Contenidos</a></li>
				<li class="sections__listas"><a href="/espacios#section-espacios">Espacios</a></li>
				<li class="sections__listas"><a href="/espacios#section-cartelera">Cartelera</a></li>
				<li class="sections__listas"><a href="#registro">Registro</a></li>
			</ul>
		</div>
		<div class="footer__contenedores">
			<h4>CONTACTO</h4>
			<p class="contenedores__contactos">Av. Amazonas N24-196 y Luis Cordero <br>
				edificio Contempo piso 9.</p>
			<p class="contenedores__contactos">+593 2 393 1250 <br> 
				Ext. 1504, 1505, 1506</p>
			<p class="contenedores__contactos">christian.burnham@creatividad.gob.ec<br>
				christian.chicaiza@creatividad.gob.ec</p>
			<a href="#" class="button--contacto">Envía un mensaje</a>
		</div>
		<form class="contacto--formulario" action="https://formsubmit.co/christian.chicaiza@creatividad.gob.ec" method="POST">
			<button type="button" id="cerrar-formulario">cerrar</button>

			<fieldset class="formulario__campos">
				<legend>Formulario de Contactos</legend>

				<label for="nombre">Nombre</label>
				<input type="text" name="Nombre" id="nombre" placeholder="Nombre">

				<label for="apellido">Apellido</label>
				<input type="text" name="Apellido" id="apellido" placeholder="Apellido">

				<label for="celular">Celular</label>
				<input type="number" name="Celular" id="celular" placeholder="0999999999" maxlength="10" minlength="10" min="0">

				<label for="email">e-mail</label>
				<input type="email" name="mail" id="email" placeholder="name@mail.com">

				<label for="area-mensaje">Mensaje</label>
				<textarea name="mensaje" id="area-mensaje" cols="30" rows="10">Escriba su mensaje</textarea>

				{{!-- opciones API submit mail https://formsubmit.co --}}
				<input type="submit" value="Enviar" id="enviar-formulario">
				<input type="hidden" name="_next" value="www.rea-ec.com">
				<input type="hidden" name="_subject" value="Consulta desde la web de rea">
				<input type="hidden" name="_captcha" value="false">

			</fieldset>
		</form>
	</footer>

</body>
</html>