<header class="encabezado"> 
		<!--barra menu-->
		<div class="encabezado__barra">
			<a href="/" title="link-rea" class="barra__logos">
				<img src="/assets/Logos REA/Rea-blanco.png" alt="REA" id="logo-rea-png">
			</a>
			<a href="http://www.creatividad.gob.ec" title="link-ifci" class="barra__logos ifci" target="_blank">
				<img src="/assets/Logo IFCI/Logos-MCyP-IFCI_GDE.png" alt="IFCI" id="logo-ifci-png">
			</a>
		</div>
		<div class="contenedor__menu">
			<a href="" title="icono-menu" class="button--menu" id="icono-button-menu">
				<span class="material-symbols-outlined">
				menu
				</span>
			</a>
			<!--menu web-->
			<nav class="menu" id="menu-index">
				<ul class="menu__contenedor">
					<li class="menu__buttons"><a href="/#la-red" title="inicio-button" id="button-inicio">
						<h3>LA RED</h3>
						<p>Conoce el espíritu de la red.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/#galeria-beneficios" title="beneficio-button" id="button-beneficios">
						<h3>BENEFICIOS</h3>
						<p>Todos los beneficios que tenemos para nuestros miembros.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/bancodecontenidos" title="contenidos-button" id="button-banco-de-contenidos">
						<h3>BANCO DE CONTENIDOS</h3>
						<p>Las pelícuas a las que podemos acceder.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/espacios" title="espacios-button" id="button-espacios-miembros">
						<h3>ESPACIOS</h3>
						<p>Estos son quienes hacen la REA.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/espacios#section-cartelera" title="cartelera-button" id="button-cartelera">
						<h3>CARTELERA</h3>
						<p>Lo que está pasando en la red.</p>
					</a></li>				
					<li class="menu__buttons"><a href="/#registro" title="registro-button" id="button-registro">
						<h3>REGISTRO</h3>
						<p>Se parte de la red y accede a todos los beneficios.</p>
					</a></li>
					<li class="menu__buttons"><a href="#footer" title="contacto-button" id="button-contacto">
						<h3>CONTACTO</h3>
						<p>Cuentanos tus dudas.</p>
					</a></li>
				</ul>			
			</nav>
		</div>
	</header>